<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Cliente</title>
</head>
<body>
    <h2>Cadastrar Clientes!</h2>
    <form method="post">
        <input placeholder="nome" type="text" name="nome">
        <input placeholder="sobrenome" type="text" name="sobrenome">
        <input placeholder="empresa" type="text" name="empresa">
        <input type="submit">
    </form> 
</body>
</html>